name: CI

on:
  push:
    tags: ['v*']
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Build
      run: dotnet build -c Release
    
    - name: Upload nuget artifacts
      uses: actions/upload-artifact@v2
      with:
        name: nuget
        path: Eto.SkiaDraw/bin/Release/*.nupkg

    - name: Push to nuget.org
      if: (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/'))
      run: dotnet nuget push 'Eto.SkiaDraw/bin/Release/*.nupkg' --skip-duplicate -s https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}}
